$primary: #0984e3;
$danger: #d63031;
$warning: #fdcb6e;
$success: #00b894;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
